@font-face {
  font-family: "iranSens";
  src: url("../font/iranSens.ttf");
}
@font-face {
  font-family: "BYekan";
  src: url("../font/IranYekan-Medium.woff");
}
@font-face {
  font-family: "DioDrum";
  src: url("../font/DioDrum.ttf");
}
@font-face {
  font-family: "iranYekan";
  src: url("../font/iranYekan.ttf");
}
@font-face {
  font-family: wind-field;
  src: url("/src/font/wind-field.ttf");
}
@font-face {
  font-family: special-elite;
  src: url("../font/SpecialElite-Regular.ttf");
}
@font-face {
  font-family: great;
  src: url("../font/great.ttf");
}
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: sans-serif;
}
body *,
html * {
  font-weight: normal;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}
body img,
html img {
  all: unset;
  display: flex !important;
}

body {
  width: 100%;
  max-width: 1600px;
  overflow-y: scroll;
  position: relative;
  padding: 0 2em;
  margin: auto;
}

header {
  width: 100%;
  grid-column: -1/1;
  background-color: #fdfeff;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1);
}
header .top {
  background-color: #9abd3f;
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
  gap: 1rem;
  transition: all 0.3s ease;
  overflow: hidden;
}
header .top .left,
header .top .right {
  display: flex;
  gap: 1rem;
}
header .top .left .email,
header .top .left .phone,
header .top .right .email,
header .top .right .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 1.2rem;
}
header .top .left .email h1,
header .top .left .phone h1,
header .top .right .email h1,
header .top .right .phone h1 {
  font-size: 1rem;
  font-family: BYekan;
}
header .hided {
  height: 0;
}
header .bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
}
header .bottom .left,
header .bottom .right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header .bottom .logo img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
header .bottom .search-bar {
  width: min(50vw, 17rem);
  box-shadow: inset 0rem 0rem 0.4rem 0.1rem rgba(0, 0, 0, 0.1);
  padding: 0.7em 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  font-size: 0.8rem;
}
header .bottom .search-bar input {
  all: unset;
  width: 100%;
  text-align: right;
  padding: 0.3em 0.5em;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}
header .bottom .search-bar svg {
  width: 1.2rem;
  height: 1.2rem;
}
header .bottom .nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.8rem;
}
header .bottom .nav li {
  cursor: pointer;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .bottom .nav li::after {
  content: "";
  margin-top: 0.25rem;
  width: 0%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 0.5s ease;
}
header .bottom .nav li:hover::after {
  width: 100%;
}
header .bottom .nav .selected::after {
  width: 100%;
}
header .bottom .shopping-cart,
header .bottom .favoriot {
  all: unset;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 100%;
}
header .bottom .shopping-cart span,
header .bottom .favoriot span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -0.3rem;
  top: -0.5rem;
  font-size: 0.8rem;
  background-color: red;
  color: white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0.2em;
}
header .bottom .shopping-cart svg,
header .bottom .favoriot svg {
  width: 1.5rem;
  height: 1.5rem;
}
header .bottom .user {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  position: relative;
}
header .bottom .user .drop-down {
  background-color: black;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  color: white;
  width: 10ch;
  padding: 1.4em;
  border-radius: 0.5rem;
}
header .bottom .user .drop-down div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .bottom .user svg {
  width: 1.5rem;
  height: 1.5rem;
}

button {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  cursor: pointer !important;
  transition: 0.3s ease !important;
}
button:hover {
  transform: scale(0.95) !important;
}

label {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.swiper {
  width: 100%;
}

.main-page {
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
}
.main-page section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-page section .header {
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.main-page section .header svg {
  width: 2rem;
  height: 2rem;
}
.main-page section .swiper {
  width: 100%;
}
.main-page .main-slider .swiper-button-next:after {
  color: white;
}
.main-page .main-slider .swiper-button-prev:after {
  color: white;
}
.main-page .main-slider .slider {
  height: 55vh;
}
.main-page .main-slider .slider .swiper-pagination {
  background-color: white;
  width: -moz-max-content;
  width: max-content;
  left: 48%;
  bottom: 2em;
  border-radius: 5rem;
  padding: 0.2em 1em;
}
.main-page .main-slider .slider .swiper-pagination-bullet-active {
  background: black;
}
.main-page .main-slider .slider .slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page .main-intro {
  min-height: 70vh;
  width: 90%;
  align-self: center;
  margin: auto;
  margin-top: 5rem;
  display: grid !important;
  grid-template-columns: 0.45fr 0.55fr;
  border-radius: 2rem 2rem 0 0;
  color: white;
  background-image: url("../images/main-intro/background-2.svg");
  font-family: wind-field;
  gap: 0;
  position: relative;
  overflow: hidden;
}
.main-page .main-intro .left {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.main-page .main-intro .left .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #381d0c;
  border-radius: 0 0 3rem 3rem;
  height: 9rem;
}
.main-page .main-intro .left .logo img {
  width: 15rem;
  scale: 1.5;
  margin-top: -1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page .main-intro .left .slogon {
  margin-top: 3rem;
  font-size: 2.25rem;
  color: #381d0c;
  align-self: center;
  padding: 0.5em 1em;
}
.main-page .main-intro .left .beans {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  gap: 3rem;
  color: black;
}
.main-page .main-intro .left .beans img {
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: #381d0c 0.5rem 0.4rem 0.5rem 0.1rem inset;
  border-radius: 50%;
}
.main-page .main-intro .left .beans h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  font-size: 2rem;
}
.main-page .main-intro .left .beans h1 span {
  background-color: #381d0c;
  color: white;
  color: white;
  border-radius: 100rem;
  padding: 0.1em 1em;
}
.main-page .main-intro .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  padding-left: 5em;
  background: linear-gradient(rgba(56, 29, 12, 0.7803921569) 100%, rgba(0, 0, 0, 0.5) 100%), url("../images/main-intro/background.jpg");
}
.main-page .main-intro .right h1 {
  padding-left: 1em;
  font-size: 5rem;
  text-align: center;
}
.main-page .main-intro .right p {
  display: none;
}
.main-page .main-intro .right .open,
.main-page .main-intro .right .links {
  display: none;
}
.main-page .main-intro .coffee {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
}
.main-page .main-intro .coffee img {
  width: 24.5rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main-page .categories-section {
  display: grid;
  width: 90%;
  margin: auto;
  background-color: #eee2cd;
  border-radius: 0 0 1rem 1rem;
}
.main-page .categories-section .categories-header {
  display: grid;
  grid-template-columns: 1fr 25rem;
  position: relative;
}
.main-page .categories-section .categories-header .right {
  border-radius: 1rem;
  max-width: 20rem;
  position: absolute;
  right: 4rem;
  bottom: 3rem;
}
.main-page .categories-section .categories-header .right .background {
  width: 100%;
  height: 34rem;
  overflow: hidden;
  border-radius: 1rem;
  filter: drop-shadow(2px 2px 3px rgba(34, 34, 34, 0.3607843137));
}
.main-page .categories-section .categories-header .right .categories {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  font-family: special-elite;
  list-style-type: disc;
  font-size: 1.25rem;
  position: absolute;
  top: 11.5rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  width: 80%;
  padding-left: 4em;
  line-height: 1rem !important;
  gap: 1.5rem;
}
.main-page .categories-section .categories-header .right .categories li {
  list-style: disc;
  position: relative;
  cursor: pointer;
  transition: all 1s ease;
}
.main-page .categories-section .categories-header .right .categories li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 150%;
  width: 0%;
  background-color: black;
  height: 2px;
  transition: width 0.5s ease;
}
.main-page .categories-section .categories-header .right .categories li:hover {
  padding-left: 0.5em;
}
.main-page .categories-section .categories-header .right .categories li:hover::after {
  width: 100%;
}
.main-page .categories-section .categories-header .right .categories button {
  all: unset;
  background-color: #a66b35;
  color: white;
  padding: 0.5em 1em;
  padding-top: 0.75em;
  text-transform: uppercase;
  margin-left: -4em;
  align-self: center;
  border-radius: 100rem;
}
.main-page .categories-section .categories-header .left {
  padding: 4em;
  padding-right: 0;
}
.main-page .categories-section .categories-header .left .cat {
  display: grid;
  grid-template-columns: 22.5rem 1fr;
  gap: 1rem;
}
.main-page .categories-section .categories-header .left .cat .cat-body {
  display: flex;
  align-cats: start;
  flex-direction: column;
  justify-content: center;
}
.main-page .categories-section .categories-header .left .cat .cat-body .cat-name {
  font-size: 2.5rem;
  font-weight: bold;
}
.main-page .categories-section .categories-header .left .cat .cat-body .cat-description {
  opacity: 0.75;
}
.main-page .categories-section .categories-header .left .cat .cat-header {
  display: flex;
  align-items: center;
}
.main-page .categories-section .categories-header .left .cat .cat-header img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page .categories-section .categories-header .left .cat .cat-buttons button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #a66b35;
  color: white;
  padding: 0.5em 1em;
  border-radius: 100rem;
  margin-top: 2rem;
}
.main-page .categories-section .categories-header .left .cat .cat-buttons button .icon {
  font-size: 2rem !important;
}
.main-page .categories-section .categories-body {
  padding: 4em 6em;
  padding-top: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.main-page .categories-section .categories-body .item {
  overflow: hidden;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.35;
  height: 26rem;
  background-image: url("../images/search-section/categories-cards/cards-background.svg");
}
.main-page .categories-section .categories-body .item .item-header {
  display: flex;
}
.main-page .categories-section .categories-body .item .item-header img {
  width: 100%;
  transition: all 1s ease;
}
.main-page .categories-section .categories-body .item .item-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(0deg, black, transparent);
  transition: all 1s ease;
}
.main-page .categories-section .categories-body .item .item-body .item-name {
  color: white;
  font-size: 1.5rem;
}
.main-page .categories-section .categories-body .item .item-body .item-price {
  display: none;
  color: #906227;
  background-color: white;
  border-radius: 100rem;
  font-size: 1.25rem;
}
.main-page .categories-section .categories-body .item .item-body .item-category {
  color: rgb(188, 160, 0);
}
.main-page .categories-section .categories-body .item .item-body .item-rating {
  display: flex;
  align-items: center;
  color: gold;
  font-size: 1.2rem;
  gap: 0.5rem;
}
.main-page .categories-section .categories-body .item .item-body .item-rating .stars {
  display: flex;
}
.main-page .categories-section .categories-body .item .item-body .item-rating .count {
  color: white;
}
.main-page .categories-section .categories-body .item .item-body .item-properties {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.main-page .categories-section .categories-body .item .item-body .item-properties span {
  color: white;
  border-radius: 0.2rem;
  padding: 0.15em 0.5em;
  margin-top: 0.25rem;
}
.main-page .categories-section .categories-body .item .item-body .item-properties span:nth-child(1) {
  background-color: #5b09c5;
}
.main-page .categories-section .categories-body .item .item-body .item-properties span:nth-child(2) {
  background-color: #d10154;
}
.main-page .categories-section .categories-body .item .item-body .item-description {
  width: 80%;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.main-page .categories-section .categories-body .item .item-body .item-grams {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-page .categories-section .categories-body .item .item-body .item-grams .grams-header {
  color: gold;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.main-page .categories-section .categories-body .item .item-body .item-grams .grams-body {
  display: flex;
  color: white;
  gap: 0.5rem;
  padding-left: 0.5em;
}
.main-page .categories-section .categories-body .item .item-body .item-grams .grams-body span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}
.main-page .categories-section .categories-body .item .item-body .row {
  width: 70%;
}
.main-page .categories-section .categories-body .item .item-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20%;
  top: 0rem;
  left: 20%;
  background-color: #381d0c;
  color: white;
  gap: 0.5rem;
  padding: 0.5em;
  border-radius: 0 0 100rem 100rem;
  transform: translateY(-2rem);
  transition: all 1s ease;
  z-index: 2;
  cursor: pointer;
}
.main-page .categories-section .categories-body .item .item-buttons button {
  all: unset;
  display: flex;
  align-items: center;
  font-size: 1.45rem;
}
.main-page .categories-section .categories-body .item .item-add-to-cart {
  all: unset;
  background-color: white;
  color: #381d0c;
  position: absolute;
  right: 0;
  top: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 1rem 0 0 1rem;
  background-color: greenyellow;
  padding: 1em 0.25em;
  transform: translateX(3rem);
  transition: all 1s ease !important;
}
.main-page .categories-section .categories-body .item .item-add-to-cart:hover {
  transform: scale(1) !important;
}
.main-page .categories-section .categories-body .item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50%;
  background: linear-gradient(180deg, #381d0c, transparent 100%);
  transition: all 1s ease;
  opacity: 0;
}
.main-page .categories-section .categories-body .item:hover .item-header img {
  filter: blur(3px);
}
.main-page .categories-section .categories-body .item:hover .item-body {
  z-index: 2;
  transform: translateY(-16rem);
  padding-top: 5em;
}
.main-page .categories-section .categories-body .item:hover .item-body .item-name {
  width: -moz-max-content;
  width: max-content;
  align-items: start;
  align-self: flex-start;
  margin-left: 15%;
}
.main-page .categories-section .categories-body .item:hover::after {
  opacity: 0.5;
}
.main-page .categories-section .categories-body .item:hover .item-buttons {
  transform: translateX(0%);
  background-color: white;
  color: #381d0c !important;
}
.main-page .categories-section .categories-body .item:hover .item-add-to-cart {
  transform: translateX(0);
}
.main-page .poster {
  display: flex;
  flex-direction: column !important;
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
}
.main-page .poster .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page .poster .row .right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: great;
  width: 30rem;
  gap: 1rem;
}
.main-page .poster .row .right h1 {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 4rem;
  color: white;
  color: #c8a177;
  gap: 0.5rem;
}
.main-page .poster .row .right h1 span {
  background-color: #c8a177;
  color: white;
  padding: 0 0.5em;
  border-radius: 100rem;
}
.main-page .poster .row .right p {
  color: #c8a177;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 100rem;
}
.main-page .poster .row .right button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  font-size: 1.25rem;
  padding: 0.5em 1em;
  border-radius: 100rem;
  color: #c8a177;
  border: 2px #c8a177 solid;
}
.main-page .poster .row .left {
  mix-blend-mode: multiply;
  width: 40rem;
}
.main-page .poster .row .left .lottie {
  width: 100%;
  height: 100%;
}
.main-page .top-sales {
  display: flex;
  align-self: center;
  flex-direction: row !important;
  width: 90%;
  margin-top: 5rem;
  gap: 0;
}
.main-page .top-sales .right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.main-page .top-sales .right .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main-page .top-sales .right .title {
  font-size: 1.25rem;
}
.main-page .top-sales .right .title h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
.main-page .top-sales .left {
  width: calc(100% - 20rem);
}
.main-page .top-sales .left .swiper {
  width: 100%;
}
.main-page .benifets {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 4rem !important;
}
.main-page .benifets .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: great;
  color: #c8a177;
  width: 32.5rem;
}
.main-page .benifets .item:hover {
  padding: 0;
}
.main-page .benifets .item:hover .item-body {
  width: 20rem;
  opacity: 1;
}
.main-page .benifets .item:hover .item-body p {
  height: 5rem;
  opacity: 1;
}
.main-page .benifets .item:hover .item-place-holder {
  width: 0 !important;
  opacity: 0;
}
.main-page .benifets .item .item-header {
  display: flex;
  align-items: center;
  font-size: 7rem;
  border: 3px #c8a177 solid;
  border-radius: 50%;
  padding: 0.2em;
}
.main-page .benifets .item .item-body {
  align-items: start;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  width: 0;
  opacity: 0;
  transition: all 1s ease;
}
.main-page .benifets .item .item-body h1 {
  color: white;
  font-size: 1.5rem;
  width: 20rem;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 100rem;
  background-color: #c8a177;
  padding: 0.25em 1em;
}
.main-page .benifets .item .item-body p {
  height: 0rem;
  transition: all 1s ease;
  opacity: 0;
  width: 20rem;
}
.main-page .benifets .item .item-place-holder {
  transition: all 0.5s ease;
  width: 5rem;
  font-size: 1.25rem;
}
.main-page .best-offers {
  width: 100%;
  align-self: center;
  margin-top: 12rem;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgba(200, 161, 119, 0.1411764706);
  border-radius: 4rem;
  position: relative;
}
.main-page .best-offers .top {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  border-radius: 100rem;
  position: absolute;
  top: -4rem;
  height: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  box-shadow: 0rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  font-family: great;
  gap: 2rem;
  padding-right: 4em;
}
.main-page .best-offers .top .column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .best-offers .top .top-mid .title {
  display: flex;
  align-items: start;
  flex-direction: column;
  color: #c8a177;
  font-size: 1.25rem;
  gap: 0.5rem;
  padding-left: 1em;
  gap: 0.5rem;
}
.main-page .best-offers .top .top-mid .title h1 {
  font-weight: bold;
  font-size: 2rem;
}
.main-page .best-offers .top .top-mid .title button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25em 1em;
  background-color: #c8a177;
  color: white;
  border-radius: 100rem;
  font-size: 1.3rem;
}
.main-page .best-offers .top .top-left .lottie {
  width: 11rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0rem 0.5rem 0.7rem 0.1rem rgba(0, 0, 0, 0.05) inset;
}
.main-page .best-offers .top .top-right {
  color: #c8a177;
}
.main-page .best-offers .top .top-right .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-page .best-offers .top .top-right button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25em 1em;
  background-color: #c8a177;
  color: white;
  border-radius: 100rem;
  font-size: 1.3rem;
}
.main-page .best-offers .bottom {
  display: flex !important;
  flex-direction: column;
  width: 90%;
  margin-top: 7rem;
  align-self: center;
  padding-bottom: 3em;
}
.main-page .best-offers .bottom .swiper-button-prev,
.main-page .best-offers .bottom .swiper-button-next {
  display: none;
}
.main-page .best-offers .bottom .navigation {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.main-page .best-offers .bottom .navigation .custom-pagination {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
}
.main-page .best-offers .bottom .navigation .custom-pagination .swiper-pagination-bullet {
  background: url("https://api.iconify.design/material-symbols/circle.svg?color=%23c8a177") no-repeat center center/contain;
  width: 1rem;
  height: 1rem;
}
.main-page .best-offers .bottom .navigation .navigation-icon {
  font-size: 3rem;
  background-color: #c8a177;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.1;
  transition: all 1s ease;
}
.main-page .best-offers .bottom .swiper {
  width: 100%;
  padding: 2em;
}
.main-page .best-offers .bottom .item {
  position: relative;
  color: #c8a177;
  background-color: white;
  border-radius: 2rem;
  height: 30rem;
}
.main-page .best-offers .bottom .item .item-header {
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  transition: all 1s ease;
}
.main-page .best-offers .bottom .item .item-header img {
  mix-blend-mode: multiply;
  width: 100%;
  transition: inherit;
}
.main-page .best-offers .bottom .item .item-body {
  padding: 10% 15%;
  padding-bottom: 4em;
  background-color: #c8a177;
  border-radius: 3rem 3rem 2rem 2rem;
  color: white;
  transition: all 1s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main-page .best-offers .bottom .item .item-body .icon {
  font-size: 1.5rem;
}
.main-page .best-offers .bottom .item .item-body .item-name {
  font-size: 1.25rem;
  background-color: white;
  border-radius: 100rem;
  color: #c8a177;
  text-align: center;
  font-weight: bold;
  padding: 0.35em;
  font-family: great;
  max-width: 100%;
  padding: 0.33em 1em;
}
.main-page .best-offers .bottom .item .item-body .item-category {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}
.main-page .best-offers .bottom .item .item-body .item-price {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  transition: all 1s ease;
}
.main-page .best-offers .bottom .item .item-body .item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0; /* number of lines to show */
  line-clamp: 0;
  -webkit-box-orient: vertical;
  transition: all 1s ease;
  opacity: 0;
  height: 0;
}
.main-page .best-offers .bottom .item .item-buy {
  all: unset;
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%) !important;
  background-color: #85974b;
  color: white;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  outline: 0.5rem #f7f2ec solid;
}
.main-page .best-offers .bottom .item .item-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: #c8a177;
  border-radius: 100rem;
  gap: 0.25rem;
}
.main-page .best-offers .bottom .item .item-rating .count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: white;
  width: 3ch;
  height: 3ch;
  border-radius: 50%;
  color: #c8a177;
  padding: 0.2em;
}
.main-page .best-offers .bottom .item .item-rating .stars {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
  color: white;
}
.main-page .best-offers .bottom .item .item-buttons {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: all 1s ease;
  transform: translateX(5rem);
  opacity: 0;
}
.main-page .best-offers .bottom .item .item-buttons button {
  all: unset;
  background-color: white;
  color: #c8a177;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  transition: inherit;
}
.main-page .best-offers .bottom .item:hover .item-header {
  filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.25);
}
.main-page .best-offers .bottom .item:hover .item-body .item-description {
  opacity: 1;
  height: 5rem;
  margin-top: 1rem;
}
.main-page .best-offers .bottom .item:hover .item-body .item-price {
  background-color: white;
  color: #c8a177;
  border-radius: 100rem;
  padding: 0.15em 0.5em;
}
.main-page .best-offers .bottom .item:hover .item-buttons {
  transform: translateX(0rem);
  opacity: 1;
}
.main-page .best-offers .bottom:hover .navigation-icon {
  opacity: 1;
}
.main-page .best-offers-2 {
  width: 80%;
  align-self: center;
  display: grid;
  margin-top: 7rem;
  grid-template-columns: 15rem 1fr;
  font-family: great;
  background-color: #8b9569;
  border-radius: 100rem;
  color: white;
  padding: 2em;
}
.main-page .best-offers-2 .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.main-page .best-offers-2 .right h1 {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.5em;
}
.main-page .best-offers-2 .right h1 small {
  font-size: 1.25rem;
  opacity: 0.75;
}
.main-page .best-offers-2 .right p {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}
.main-page .best-offers-2 .right p .icon {
  font-size: 3rem;
}
.main-page .best-offers-2 .right p span {
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 100rem;
  color: #85974b;
  font-size: 1.5rem;
  font-weight: bold;
}
.main-page .best-offers-2 .right .clock {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #85974b;
  top: 0;
  bottom: 0;
  right: -2rem;
  background-color: white;
  width: 20rem;
  height: 100%;
  border-radius: 100rem 0 0 100rem;
  font-size: 3rem;
  font-weight: bold;
}
.main-page .best-offers-2 .right .clock .icon {
  font-size: 5rem;
}
.main-page .best-offers-2 .right .clock span {
  font-weight: bold;
}
.main-page .best-offers-2 .left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .best-offers-2 .left .lottie {
  background-color: white;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  animation: ripple 1s linear infinite;
  border-radius: 50% !important;
  overflow: hidden;
  transition: all 1s ease;
}
.main-page .new-products {
  width: 100%;
  align-self: center;
  margin-top: 12rem;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgba(200, 161, 119, 0.1411764706);
  border-radius: 4rem;
  position: relative;
}
.main-page .new-products .top {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  border-radius: 100rem;
  position: absolute;
  top: -4rem;
  height: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  box-shadow: 0rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  font-family: great;
  gap: 2rem;
  padding-right: 4em;
}
.main-page .new-products .top .column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .new-products .top .top-mid .title {
  display: flex;
  align-items: start;
  flex-direction: column;
  color: #c8a177;
  font-size: 1.25rem;
  gap: 0.5rem;
  padding-left: 1em;
  gap: 0.5rem;
}
.main-page .new-products .top .top-mid .title h1 {
  font-weight: bold;
  font-size: 2rem;
}
.main-page .new-products .top .top-mid .title button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25em 1em;
  background-color: #c8a177;
  color: white;
  border-radius: 100rem;
  font-size: 1.3rem;
}
.main-page .new-products .top .top-left {
  position: relative;
}
.main-page .new-products .top .top-left .lottie {
  padding: 1em;
  width: 10rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0rem 0.5rem 0.7rem 0.1rem rgba(0, 0, 0, 0.05) inset;
}
.main-page .new-products .top .top-left .lottie path {
  fill: #fccaae;
}
.main-page .new-products .top .top-left h1 {
  position: absolute;
  font-family: sans-serif;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  z-index: 2;
  font-size: 1.75rem;
  font-weight: bold;
  color: #f87a34 !important;
  transform: translateX(-50%) translateY(-50%);
}
.main-page .new-products .top .top-right {
  color: #c8a177;
}
.main-page .new-products .top .top-right .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-page .new-products .top .top-right button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25em 1em;
  background-color: #c8a177;
  color: white;
  border-radius: 100rem;
  font-size: 1.3rem;
}
.main-page .new-products .bottom {
  display: flex !important;
  flex-direction: column;
  width: 90%;
  margin-top: 7rem;
  align-self: center;
  padding-bottom: 3em;
}
.main-page .new-products .bottom .swiper-button-prev,
.main-page .new-products .bottom .swiper-button-next {
  display: none;
}
.main-page .new-products .bottom .navigation {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.main-page .new-products .bottom .navigation .custom-pagination {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
}
.main-page .new-products .bottom .navigation .custom-pagination .swiper-pagination-bullet {
  background: url("https://api.iconify.design/material-symbols/circle.svg?color=%23c8a177") no-repeat center center/contain;
  width: 1rem;
  height: 1rem;
}
.main-page .new-products .bottom .navigation .navigation-icon {
  font-size: 3rem;
  background-color: #c8a177;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.1;
  transition: all 1s ease;
}
.main-page .new-products .bottom .swiper {
  width: 100%;
  padding: 2em;
}
.main-page .new-products .bottom .item {
  position: relative;
  color: #c8a177;
  background-color: white;
  border-radius: 2rem;
  height: 30rem;
}
.main-page .new-products .bottom .item .item-header {
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  transition: all 1s ease;
}
.main-page .new-products .bottom .item .item-header img {
  mix-blend-mode: multiply;
  width: 100%;
  transition: inherit;
}
.main-page .new-products .bottom .item .item-body {
  padding: 10% 15%;
  padding-bottom: 4em;
  background-color: #c8a177;
  border-radius: 3rem 3rem 2rem 2rem;
  color: white;
  transition: all 1s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main-page .new-products .bottom .item .item-body .icon {
  font-size: 1.5rem;
}
.main-page .new-products .bottom .item .item-body .item-name {
  font-size: 1.25rem;
  background-color: white;
  border-radius: 100rem;
  color: #c8a177;
  text-align: center;
  font-weight: bold;
  padding: 0.35em;
  font-family: great;
  max-width: 100%;
  padding: 0.33em 1em;
}
.main-page .new-products .bottom .item .item-body .item-category {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}
.main-page .new-products .bottom .item .item-body .item-price {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  transition: all 1s ease;
}
.main-page .new-products .bottom .item .item-body .item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0; /* number of lines to show */
  line-clamp: 0;
  -webkit-box-orient: vertical;
  transition: all 1s ease;
  opacity: 0;
  height: 0;
}
.main-page .new-products .bottom .item .item-buy {
  all: unset;
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%) !important;
  background-color: #85974b;
  color: white;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  outline: 0.5rem #f7f2ec solid;
}
.main-page .new-products .bottom .item .item-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: #c8a177;
  border-radius: 100rem;
  gap: 0.25rem;
}
.main-page .new-products .bottom .item .item-rating .count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: white;
  width: 3ch;
  height: 3ch;
  border-radius: 50%;
  color: #c8a177;
  padding: 0.2em;
}
.main-page .new-products .bottom .item .item-rating .stars {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
  color: white;
}
.main-page .new-products .bottom .item .item-buttons {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: all 1s ease;
  transform: translateX(5rem);
  opacity: 0;
}
.main-page .new-products .bottom .item .item-buttons button {
  all: unset;
  background-color: white;
  color: #c8a177;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  transition: inherit;
}
.main-page .new-products .bottom .item:hover .item-header {
  filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.25);
}
.main-page .new-products .bottom .item:hover .item-body .item-description {
  opacity: 1;
  height: 5rem;
  margin-top: 1rem;
}
.main-page .new-products .bottom .item:hover .item-body .item-price {
  background-color: white;
  color: #c8a177;
  border-radius: 100rem;
  padding: 0.15em 0.5em;
}
.main-page .new-products .bottom .item:hover .item-buttons {
  transform: translateX(0rem);
  opacity: 1;
}
.main-page .new-products .bottom:hover .navigation-icon {
  opacity: 1;
}
.main-page .product-introduction {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0rem;
  align-self: center;
  margin-top: 7rem;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 16rem 3rem 2rem 2rem;
  overflow: hidden;
  position: relative;
}
.main-page .product-introduction .left {
  position: relative;
  border-radius: 100rem;
  padding: 3em;
  border-radius: 100rem 100rem 0rem 1rem;
  background-color: rgba(200, 161, 119, 0.9137254902);
}
.main-page .product-introduction .left .info {
  font-family: great;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100rem 100rem 10rem 10rem;
  overflow: hidden;
  padding: 2em;
}
.main-page .product-introduction .left .info .name {
  font-size: 3rem;
  font-weight: bold;
}
.main-page .product-introduction .left .info .price {
  background-color: white;
  color: #c8a177;
  font-size: 3rem;
  border-radius: 100rem;
  padding: 0.05em 0.5em;
  margin-top: 1rem;
  display: none;
}
.main-page .product-introduction .left .info .category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  border-top: 0.2rem white dashed;
  padding-top: 1.5rem;
  display: none;
}
.main-page .product-introduction .left .info .properties {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.main-page .product-introduction .left .info .properties .item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25em;
  font-weight: bold;
  gap: 1rem;
}
.main-page .product-introduction .left .info .properties .item span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background-color: white;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  color: #c8a177;
  border-radius: 100rem;
  font-weight: bold;
  padding: 0.4em 1em;
}
.main-page .product-introduction .left .info .buttons {
  align-self: center;
  margin-top: auto;
  display: none;
}
.main-page .product-introduction .left .info .buttons button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5em 1em;
  border-radius: 100rem;
  font-size: 1.5rem;
  gap: 1rem;
  background-color: #381d0c;
}
.main-page .product-introduction .left .info .buttons button .icon {
  background-color: white;
  color: #c8a177;
  font-size: 2.5rem;
  border-radius: 50%;
}
.main-page .product-introduction .right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 8em 4em;
}
.main-page .product-introduction .right h1 {
  font-family: great;
  font-size: 2.5rem;
  font-weight: bold;
  max-width: 30ch;
  text-transform: uppercase;
}
.main-page .product-introduction .right p {
  padding: 1em;
  font-size: 1rem;
  line-height: 2;
}
.main-page .product-introduction .right .price {
  position: absolute;
  bottom: 0;
  left: 20%;
  background-color: white;
  font-size: 2rem;
  border-radius: 100rem 100rem 0 0;
  padding-bottom: 3em;
  padding: 0em 2em;
  height: 20rem;
  display: none;
}
.main-page .product-introduction .right .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  margin-top: 1rem;
  border-radius: 100rem;
}
.main-page .product-introduction .right .rating span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2ch;
  height: 2ch;
  background-color: #381d0c;
  font-size: 2.25rem;
  z-index: 2;
  padding: 0.25em;
}
.main-page .product-introduction .right .rating .stars {
  background-color: #c8a177;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.25em 0.25em;
  border-radius: 100rem;
  font-size: 1.5rem;
  margin-left: -1rem;
  padding-left: 1rem;
}
.main-page .product-introduction .right .comments {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  max-width: 50rem;
  margin: 0 auto;
}
.main-page .product-introduction .right .comments .swiper-comments {
  width: 100%;
  padding: 2em 0;
  padding-top: 3em;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  opacity: 0.5;
  background-color: white;
  transition: all 0.75s ease !important;
  box-shadow: 0rem 0.5rem 1rem 0.1rem transparent;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-header {
  display: flex;
  justify-content: start;
  position: relative;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-header .card-avatar {
  border-radius: 100rem;
  background-color: #f1ece7;
  position: relative;
  border: 0.5rem #f1ece7 solid;
  left: 0rem;
  top: -2rem;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-header .card-avatar img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0rem 0rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  outline: 2px white solid;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-header .card-user {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.25rem;
  position: relative;
  top: -1rem;
  padding-left: 0.5em;
  gap: 0.5rem;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-header .card-user .card-name {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-header .card-user .card-date {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-header .card-user .card-date .icon {
  font-size: 1rem;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-body {
  font-size: 0.8rem;
  opacity: 0.9rem;
  padding: 1em 0em;
  margin: 0 3em;
  margin-top: -2.5rem;
  border-top: 2px dashed rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-buttons .card-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-buttons .card-rating .count {
  width: 4ch;
  font-size: 1.5rem;
  background-color: #c8a177;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem 100rem 0 0;
  color: white;
  padding-top: 0.25em;
  padding-bottom: 0;
  font-size: 1.5rem;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-buttons .card-rating .stars {
  display: flex;
  align-items: center;
  background-color: rgba(200, 161, 119, 0.5098039216);
  border-radius: 100rem 100rem 0 0;
  color: white;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  padding: 0.25em 1em;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-buttons .card-like, .main-page .product-introduction .right .comments .swiper-comments .slide-card .card-buttons .card-share {
  border: 2px solid #c8a177;
  color: #c8a177;
  border-radius: 50%;
  font-size: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  transition: all 0.5s ease;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-buttons .card-like:hover, .main-page .product-introduction .right .comments .swiper-comments .slide-card .card-buttons .card-share:hover {
  background-color: #c8a177;
  color: white;
  cursor: pointer;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-progress {
  background-color: rgba(200, 161, 119, 0.5098039216);
  padding: 1.5em 10%;
  border-radius: 0 0 2rem 2rem;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-progress .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-progress .item span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: white;
}
.main-page .product-introduction .right .comments .swiper-comments .slide-card .card-progress .item span .icon {
  font-size: 2.5rem;
}
.main-page .product-introduction .right .comments .swiper-comments .swiper-slide-active {
  opacity: 1;
  box-shadow: 0rem 0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.15);
}
@keyframes move {
  0% {
    box-shadow: 0 0 0 0 rgba(200, 161, 119, 0.15), 0 0 0 1.5em rgba(200, 161, 119, 0.15), 0 0 0 3em rgba(200, 161, 119, 0.15), 0 0 0 5em rgba(200, 161, 119, 0.05);
  }
  100% {
    box-shadow: 0 0 0 1.5em rgba(200, 161, 119, 0.15), 0 0 0 3em rgba(200, 161, 119, 0.15), 0 0 0 5em rgba(200, 161, 119, 0.05), 0 0 0 7em rgba(200, 161, 119, 0);
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.main-page .product-introduction .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(200, 161, 119, 0.137254902);
  overflow: hidden;
  z-index: -1;
  opacity: 1;
}
.main-page .product-introduction .background span {
  width: 8vmin;
  height: 8vmin;
  border-radius: 11vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 21;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: #c8a177 !important;
  opacity: 0.25;
  transition: all 1s ease;
  box-shadow: 0 0 0 0 rgba(200, 161, 119, 0.15), 0 0 0 1.5em rgba(200, 161, 119, 0.15), 0 0 0 3em rgba(200, 161, 119, 0.15), 0 0 0 5em rgba(200, 161, 119, 0.05);
}
.main-page .product-introduction .background span:nth-child(0) {
  color: #fccaae;
  top: 44%;
  left: 68%;
  animation-duration: 176s;
  animation-delay: -36s;
  transform-origin: 24vw -23vh;
  box-shadow: -22vmin 0 3.2975367835vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(1) {
  color: #362114;
  top: 17%;
  left: 26%;
  animation-duration: 90s;
  animation-delay: -234s;
  transform-origin: -4vw 8vh;
  box-shadow: 22vmin 0 3.6009584772vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(2) {
  color: #fccaae;
  top: 95%;
  left: 29%;
  animation-duration: 106s;
  animation-delay: -139s;
  transform-origin: -15vw 11vh;
  box-shadow: -22vmin 0 2.8756775433vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(3) {
  color: #fccaae;
  top: 47%;
  left: 39%;
  animation-duration: 161s;
  animation-delay: -271s;
  transform-origin: -7vw -19vh;
  box-shadow: -22vmin 0 3.4557757329vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(4) {
  color: #362114;
  top: 41%;
  left: 15%;
  animation-duration: 23s;
  animation-delay: -181s;
  transform-origin: 10vw -18vh;
  box-shadow: -22vmin 0 3.5643164507vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(5) {
  color: #fccaae;
  top: 27%;
  left: 78%;
  animation-duration: 12s;
  animation-delay: -270s;
  transform-origin: 8vw -6vh;
  box-shadow: 22vmin 0 3.0563487676vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(6) {
  color: #fccaae;
  top: 88%;
  left: 8%;
  animation-duration: 51s;
  animation-delay: -239s;
  transform-origin: 4vw -21vh;
  box-shadow: 22vmin 0 3.5579631695vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(7) {
  color: #362114;
  top: 53%;
  left: 7%;
  animation-duration: 30s;
  animation-delay: -173s;
  transform-origin: -20vw 11vh;
  box-shadow: -22vmin 0 3.2855854218vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(8) {
  color: #362114;
  top: 31%;
  left: 30%;
  animation-duration: 29s;
  animation-delay: -257s;
  transform-origin: -17vw -14vh;
  box-shadow: -22vmin 0 3.4822263307vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(9) {
  color: #362114;
  top: 35%;
  left: 61%;
  animation-duration: 184s;
  animation-delay: -62s;
  transform-origin: -13vw -21vh;
  box-shadow: -22vmin 0 2.9421854136vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(10) {
  color: #fccaae;
  top: 59%;
  left: 22%;
  animation-duration: 231s;
  animation-delay: -19s;
  transform-origin: 25vw -11vh;
  box-shadow: 22vmin 0 2.7943346152vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(11) {
  color: #362114;
  top: 59%;
  left: 38%;
  animation-duration: 225s;
  animation-delay: -275s;
  transform-origin: -15vw 6vh;
  box-shadow: -22vmin 0 2.9086472407vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(12) {
  color: #362114;
  top: 27%;
  left: 47%;
  animation-duration: 110s;
  animation-delay: -217s;
  transform-origin: -4vw -7vh;
  box-shadow: -22vmin 0 3.1303962865vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(13) {
  color: #fccaae;
  top: 50%;
  left: 72%;
  animation-duration: 80s;
  animation-delay: -82s;
  transform-origin: -9vw -15vh;
  box-shadow: 22vmin 0 3.0980816069vmin currentColor;
}
.main-page .product-introduction .background span:nth-child(14) {
  color: #fccaae;
  top: 47%;
  left: 46%;
  animation-duration: 94s;
  animation-delay: -145s;
  transform-origin: 19vw -19vh;
  box-shadow: 22vmin 0 3.7447313337vmin currentColor;
}

@keyframes windowOpenAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadingAnimationShow {
  to {
    transform: translateY(0%);
    visibility: visible;
  }
}
@keyframes loadingAnimationHide {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(150%);
    visibility: hidden;
  }
}
@keyframes markAnimation {
  0% {
    box-shadow: 0 0 0rem 0rem rgb(239, 113, 128);
  }
  25% {
    box-shadow: 0 0 0rem 0.25rem rgba(239, 113, 128, 0.856);
  }
  50% {
    box-shadow: 0 0 0rem 0.4rem rgba(234, 158, 167, 0.322);
  }
  75% {
    box-shadow: 0 0 0rem 0.25rem rgba(239, 113, 128, 0);
  }
  100% {
    box-shadow: 0 0 0rem 0rem rgba(239, 113, 128, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes circleAnimation {}
@keyframes flip {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  75% {
    box-shadow: 0 0 0rem 2rem rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(200, 161, 119, 0.15), 0 0 0 1.5em rgba(200, 161, 119, 0.15), 0 0 0 3em rgba(200, 161, 119, 0.15), 0 0 0 5em rgba(200, 161, 119, 0.05);
  }
  100% {
    box-shadow: 0 0 0 1.5em rgba(200, 161, 119, 0.15), 0 0 0 3em rgba(200, 161, 119, 0.15), 0 0 0 5em rgba(200, 161, 119, 0.05), 0 0 0 7em rgba(200, 161, 119, 0);
  }
}/*# sourceMappingURL=App.css.map */